node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
*.tsbuildinfo
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
wrangler.json
worker-configuration.d.ts

.dev.vars*
!.dev.vars.example
!.env.example
